
<div class="card border-default mb-3">
  <div class="card-header">Information</div>
  <div class="card-body">
    <h4 class="card-title">Search details</h4>
    <form class="form-inline my-2 my-lg-0">
	    <input class="form-control mr-sm-2" type="text" placeholder="Search">
	    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	</form>
  </div>
</div>

<table ng-class="'table table-' + appTheme">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
    </tr>
  </thead>
  <tbody>
	 <tr ng-repeat="user in users" class="table-dark">
        <th scope="row">{{user.username}}</th>
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
    </tr>
  </tbody>
</table>

<style type="text/css">
	.card {
		margin-top: 10px;
	}
</style>