<div id="signup">
	<div ng-class="'card border-' + appTheme + ' mb-3'" style="max-width: 100%;">
	  <div class="card-header">Sign up</div>
	  <div class="card-body">
	  	<form>
			<div class="form-group">

		      <input type="text" class="form-control" placeholder="Username">
		     
		      <input type="email" class="form-control" placeholder="Email Address">

		      <input type="password" class="form-control" placeholder="Password">
		      
		      <button type="button" ng-class="'btn btn-' + appTheme">Sign up</button>

		    </div>
		</form>
	  </div>
	</div>
</div>

<div ng-class="'card text-white bg-' + appTheme + ' mb-3'" style="max-width: 100%;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<style type="text/css">


	.btn {
		margin-top: 10px;
	}

	.form-control {
		margin-top: 10px;
	}

	.card {
		margin: 10px;
	
	}
	

</style>